.UserInfo-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: 1;
}
.UserInfo-social{
  display: flex;
  flex-direction: row;
}
.UserInfo-user-image{
  border-radius: 50%;
  min-height: 100px;
  min-width: 100px;
  /* background-color: red; */
  /* box-shadow: 5px 5px 5px 0px #01050c62; */
}
.UserInfo-social-img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.UserInfo-welcome-user{
  text-align: center;
  min-height: 100%;
  vertical-align: middle;
  /* line-height: 100px; */
  padding-left: 20px;
  font-family: roboto;
  color: white;
  padding-top: 10px;
  font-size: 1.3rem;
}
.UserInfo-box {
  /* background-image: linear-gradient(to left,#05e0fa,#89effa ); */
  background-image: linear-gradient(to right, #3388f8, #145dbd);
  /* min-width: 60%; */
  flex-grow: 1;
  padding: 20px;
}

.UserInfo-Actions {
  display: flex;
  /* background-color: #05e0fa; */
  background-color: #145dbd;
  /* background-color: #73F5FF; */
  /* min-width: 40%; */
  flex-grow: 1;
  justify-content: space-around;
  padding: 20px;
}

.UserInfo-txn {
  display: flex;
  flex-direction: column;
}

.UserInfo-balance {
  display: flex;
  flex-direction: column;
}
.UserInfo-totalBalance{
  font-family: Roboto;
  padding: 5px;
  color: white;
  font-size: 0.8rem;
}
.UserInfo-currentBalance{
  font-family: Roboto;
  padding: 5px;
  color: white;
  font-size: 1.8rem;
  
}
.UserInfo-send-button{
  border-radius: 0;
  padding: 10px; 
  width: 180px;
  background-color: white;
  border-color: white;
  margin: 3px;
  font-family: Roboto;
  color: #23263b;
  font-size:1rem;
  font-weight: bold;
}
.UserInfo-receive-button{
  border-radius: 0;
  padding: 10px; 
  width: 180px;
  background-color: white;
  border-color: white;
  margin: 3px;
  font-family: Roboto;
  color: #23263b;
  font-size:1rem;
  font-weight: bold;
}
.UserInfo-line{
  width: 1px;
min-height: 49.5px;
opacity: 0.27;
border: solid 1px #ffffff;
}