.Split-parent-container {
  display: flex;
  flex-direction: column;
 /* flex-grow: 1; */
 margin: 30px;
 background-color: #052045;
 border-radius: 3px;
}
.Split-container{
  display: flex;
  border-radius: 3px;
  background-color: white;
  flex-direction: column;
  align-items: left;
  flex-grow: 1;
  /* margin: 100px; */
  width: 100%;
  align-self: center;
}
.Split-button{
  height: 45px;
  width: 250px;
  font-family: roboto;
  font-size: 1.2rem;
  color: white;
  margin-left: 40px;
  margin-top: 20px;
  background-color: #052045;
  margin-bottom: 20px;
  border-radius: 3px;
  /* border-radius: 10px; */
}
.Split-amount{
  margin-left: 40px;
  margin-top: 20px;
  width: 350px;
  height: 50px;
  font-size: 20px;
  font-family: roboto;
  color: #2c3774;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.Split-reason{
  width: 1300px;
  height: 50px;
  align-self: center;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 20px;
  font-family: roboto;
  color: #2c3774;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.Split-contact{
  width: 350px;
  height: 50px;
  margin-right: 40px;
  margin-top: 20px;
  font-family: roboto;
  font-size: 1.2rem; 
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  /* border-radius: 100%; */
}
.Split-text{
  font-size: 1.6rem;
  font-family: roboto;
  color: #2c3774;
  font-weight: bold;
  padding-left: 40px;
  margin-top: 20px;
}
.Split-label{
  padding: 10px;
  color: #2c3774;
  font-size: 1.1rem;
  font-family: roboto;
}
.Split-amount-contact-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(23, 23, 66, 0.521);
  opacity: 1; /* Firefox */
}