.Home-main {
 align-items: center;
 text-align: center;
}

.Home-button {
  width: 128.4px;
  height: 38px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background: #002960;
}