.tables-div {
    /* overflow: scroll; */
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin: 30px;
    border-radius: 3px;
    background-color: white;
}

.tables-div-crop {
    border-radius: 3px;
    /* overflow: scroll; */
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    height: 250px;
    width: 98%;
}
.tables-row-element {
  height: 50px;
  text-align: left;
  padding-left: 20px;
  font-family: roboto;
}

/* .tables-row:nth-child(even){
    background-color: #b4f3fa85;
} */

.tables-row:hover {
    background-color: rgb(5, 224, 250);
}

/* tr:nth-child(even){background-color: #b4f3fa85;}

/* tr{
  margin: 0;
    padding: 0;
    border: 0;
} */
.Tables-split-butoon{
    height: 30px;
    width: 130px;
  font-family: roboto;
  font-size: 1.2rem;
  color: white;
  /* margin-left: 40px; */
  margin-top: 20px;
  background-color: #0a9ad5;
  margin-bottom: 20px;
  border-radius: 3px;
  /* width: 100%; */
  align-self: center;
}
.Home-scrollBody{
    overflow: scroll;
    /* display: flex;
    flex-grow: 1; */
    width: 100%;
    background-color: white;
    border-radius: 3px;
  }
.table-select {
    /* margin: 0 10% 0 10%; */
    border: 1px solid #111;
    background: transparent;
    /* width: 80%; */
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  /* CAUTION: IE hackery ahead */
  .table-select::-ms-expand { 
      display: none; /* remove default arrow on ie10 and ie11 */
  }

  .table-category-column {
      text-align: left;
  }
  
  /* target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
      .table-select {
          background:none\9;
          padding: 5px\9;
      } 
  }
  /* .Home{
      width: 100%;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
  } */
  tbody{
      overflow: scroll;
      border-radius: 3px;   
      /* display: block; */
      
  }
  
