.Notification-overlay {
  position: fixed;
  top: 85vh;
  left: 85vw;
  right: 0;
  bottom: 0;
  background: none;
}

.Notification-container {
  display: flex;
  flex-direction: column;
  /* padding: 2px; */
  /* margin: 0 0 2px 0; */
  border-bottom: 1px solid rgba(45, 89, 146, 0.26);
}
.Notification-block{
  width: 100%;
  height: 100%;
}

.red {
  background-color: rgb(245, 176, 176);
}

.green {
 background-color: rgb(220, 250, 176);
}

.orange {
 background-color: rgb(250, 216, 154);
}

.Notification-payment {
  font-family: 'Roboto';
  font-size: 10pt;
  padding: 5px;
}

.Notification-reason {
 font-family: 'Roboto';
 font-size: 10pt;
 padding: 5px;
}

.Notification-close {
  align-self: left;
}

.Notification-close:hover {
  filter: invert(100%) ;
  align-self: left;
}

.Notification-close-button {
  padding: 5px;
  width: 20px;
  border: none;
  background: none;
}

.Notification-choose {
  align-self: flex-end;
}

.Notification-approve {
  border: 1px solid rgb(61, 125, 207);
  background: rgb(129, 219, 117);
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
}

.Notification-approve:hover {
  color: rgb(215, 255, 154);
}

.Notification-reject {
  border: 1px solid rgb(61, 125, 207);
  background: rgb(250, 139, 139);
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
}

.Notification-reject:hover {
  color: rgb(255, 94, 94);
}