.sidebar-main {
  width: 250px;
  background-image: linear-gradient(to top, #002960, #24283e);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebar-contacts {
  margin-left: -10%;
}