.Accounts-head {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: left;
  color: #8992ca;
}

.Accounts-contentItem {
    font-family: Roboto;
    font-size: 14px;
    line-height: 2.71;
    text-align: left;
    color: #ffffff;
    background: #002960;
}
