.register-main{
  width: 100%;
height: 100%;
  display: flex;
  background-image: url(bg.png);
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.registerBox{
  background: url(background.png);
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-color: #042172; */
  /* background: transparent; */
  /* background:rgba(9, 24, 85, 0.705); */
  /* filter: blur(5); */
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  /* border-radius: 2px; */
  /* background-image: linear-gradient(to left, #00bcd9, #0078ae); */
  box-shadow: 10px 12px 110px 10px rgb(1, 8, 26);
  /* border-radius: 20px; */
  margin-right: 100px;
}
.register-title{
  min-width: 30vw;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.register-details{
  margin-top: 5%;
  min-width: 25vw;
  min-height: 65vh;
  /* min-height: 50%; */
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  flex-direction: column;
}
.register-button-div{
  margin-left: 20%;
  /* min-height: 6vh; */
  min-width: 80%;
}
.register-button{
  width: 65%;
  min-height: 6vh;
  height: 50%;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}