.Home-button {
    width: 128.4px;
  height: 38px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}