.ContactCard-container{
  height: 110px;
  /* width: 100%; */
  /* border: 2px solid black; */
  /* margin-top: 25px; */
align-self: center;
background-color: white;
display: flex;
flex-direction: row;
color: rgba(3, 3, 73, 0.979);
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
border-bottom: 2px solid #0e3368;
}
.ContactCard-contact-image-div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
  /* box-shadow: 5px 5px 5px 0px #01050c62; */
}
.ContactCard-contact-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* box-shadow: 5px 5px 5px 0px #01050c62; */
}

.ContactCard-currentContact-name {
  color: rgba(3, 3, 73, 0.979);
  padding-top: 30px;
  padding-left: 30px;
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: bold;
}

.ContactCard-currentContact-total-transfer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 200px;
  /* padding-left: 10px;
  padding-right: 140px; */
}
.ContactCard-amount{
align-self: center;
font-size: 1.4rem;
font-family: Roboto;
font-weight: 800;
/* padding-left: 50px; */
}
.ContactCard-total{
align-self: center;
}
@media only screen and (max-width: 1130px) {
  .ContactCard-currentContact-total-transfer {
    padding-right: 60px;
  }
}

.ContactCard-currentContact-info-div {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 30px;
}

.ContactCard-currentContact-total-sent {
  font-family: Roboto;
  /* padding-top: 10px; */
  box-sizing: border-box;
  padding-right: 30px;
}

.ContactCard-currentContact-total-received {
  font-family: Roboto;
  padding-bottom: 10px;
  box-sizing: border-box;
  padding-left: 30px;
}

.ContactCard-currentContact-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  padding-right: 50px;
}

.ContactCard-currentContact-button-sent {
  border-radius: 0;
  align-self: center;
  padding: 7px;
  margin: 2px;
  height: 40px;
  width: 120px;
  background-color: #0a9ad5;
  border-color: #0a9ad5;
  margin: 3px;
  font-family: Roboto;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
}
.ContactCard-currentContact-button-receive {
  border-radius: 0;
  align-self: center;
  padding: 7px;
  margin: 2px;
  height: 40px;
  width: 120px;
  background-color: #0D274D;
  border-color: #0D274D;
  margin: 3px;
  font-family: Roboto;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
}
.ContactCard-line{
  /* width: 1px; */
  height: 41px;
  border: solid 1px #070303;
}
