.sidebar-main {
  /* position: fixed; */
  min-width: 235px;
  /* background-image: linear-gradient(to top, #002960, #24283e); */
  background-image: linear-gradient(to top, rgb(7, 150, 207), rgb(10, 29, 58));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
}
@media only screen and (max-width: 1130px) {
  .sidebar-main {
      width: 150px;
  }
}
@media only screen and (max-width: 800px) {
  [className="sidebar-box"]{
    min-width: 0;
    min-height: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/* .sidebar-contacts {
  margin-left: -10%;
} */
.sidebar-box{
  /* position: fixed; */
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 90px; */
  /* position: fixed; */
}
.Sidebar-options{
  display: flex; 
  justify-content: space-between;
  flex-direction: column;
}
.sidebar-transactions{
  padding: 30px;
  margin-top: 20px;
}
.sidebar-contacts{
  padding: 30px;
  margin-top: 20px;
}
.Sidebar-add-contact{
  display: flex;
  flex-direction: row;
}
.sidebar-home {
  padding: 30px;
}
.sidebar-payments {
  padding: 30px;
}