.tables-main {
    width: 100%;
    max-height: 250px;
    overflow: scroll;
    /* margin-top: 59px; */
    
}

.tables-div {
    font-family: 'Roboto';
    background: #052045;
    /* overflow: scroll; */
    /* width: 98%; */
}

.tableTabs-main {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 15px;
    /* position: fixed; */
    /* display: flex; */
    /* flex-grow: 1; */
    min-width: 97.9%;
    background-color:white;
    font-family: 'Roboto';  
}

.tableTabs-tabs {
    padding: 15px;
    margin: 15px;
}

.tableTabs-items {
    padding: 15px;
}